body {
    font-family: Roboto;
}

.game-container {
    display: flex;
    width: 100%;
}

.player-container {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.board-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}